

body {
  background-color: #120704;
  color: white;
  text-align: center;
  font-family: 'Bradley Hand';
  
}
.url{
  color: white;
  text-decoration: none;

}
.url:hover{

  text-shadow: 0px 0px 5px white;

}

.button-color {
  background-color: #120704;
  color:white;
}

.button-color:hover {
  background-color: #120704;
}

.button-color:focus {
  background-color: #120704;
}

.button-color:active {
  background-color: #120704;
}